<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Review\Controller\Product\Post">
		<plugin name="ATF_Review_Plugin_Frontend_Magento_Review_Controller_Product_Post" type="ATF\Review\Plugin\Frontend\Magento\Review\Controller\Product\Post" sortOrder="20" disabled="false"/>
	</type>
</config>
